<nav>
  <a href="/"><img class="navbar-logo"src="/images/logo-white-background.png" /></a>
  <ul class="nav">
    {{#unless currentUser}}
        {{!-- <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/auth/login">Login</a></li> --}}
      {{else}}
      <li>{{currentUser.username}}</li>
      <li>
        <form action="/auth/logout" method="POST">
          <button class="nav-logout"type="submit">Logout</button>
        </form>
      </li>
      {{/unless}}
  </ul>
</nav>

