<section class="container status-code center-all">
  <div>
    <h1>500</h1>
    <h2><span>Sorry mate!</span><span>Our fault.</span></h2>
    <p>But you can always
      <a href="/">go back</a>.
    </p>
  </div>
</section>
