<header>
  <section class="container header-info">
    <h1>Find your bandmates</h1>
    <p>
      With Playvine, connecting with other musicians is a breeze.
    </p>
    <p>
      Create sessions for your upcoming projects and have people join.
      Or check out all sessions in your area and join with a click.
    </p>
    <a href="/auth/signup" class="button">Sign me up!</a>
  </section>
  <div class="baby-separator"></div>
  <div class="big-separator"></div>
</header>
<main class="container">
  <p class="testing">I am a testing p. I will be gone as soon as my devs finish working.</p>
</main>