<header>
  <section class="container auth">
    <h1>Log in</h1>

    <form id="#auth-form" method="POST" action="/login">

      <div class="field">
        <label>Username</label>
        <input type="text" name="username" required value="{{username}}"/>
      </div>

      {{#if messages.length}}
          {{#each messages}}
            <p class="validation">* {{this}}</p>
          {{/each}}
      {{/if}}

      <div class="field">
        <label>Password</label>
        <input type="password" name="password" minlength="8" required />
      </div>

      <div class="field submit">
        <button class="button" type="submit">Log in</button>
      </div>
    </form>
  </section>
</header>