<header>
  <section class="container auth">
    <h1>Log in</h1>

    <form method="POST" action="/auth/login">

      <div class="field">
        <label>Username</label>
        <input type="text" name="username" value="{{username}}" required />
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" name="password" required minlength="8" />
      </div>
      
      {{#if messages.length}}
          {{#each messages}}
            <p class="validation">* {{this}}</p>
          {{/each}}
      {{/if}}

      <div class="field submit">
        <button class="button" type="submit">Log in</button>
      </div>
    </form>
  </section>
</header>