<main id="list-preview" class="container header-info">
  <h1>Find a session</h1>
  <p>
    Check upcoming sessions (we hand-pick them just for you!) and offer to join with your instrument of choice.
  </p>
  <p>
    You can also <a href="/sessions/create">create your own</a>.
  </p>
  {{#each musicSessions}}
    <article class="showcase">
      <h3 class="header-info">{{this.name}}</h3>
      <h4 class="session-location">{{this.location}}</h4>
      <h4 class="session-time">{{this.startTime}}</h4>
      <p class="session-info">
        {{this.sessionInfo}}
      </p>
    </article>
  {{/each}}
</main>