<main id="list-preview" class="container header-info">
  <h1>Find a session</h1>
  <p>
    Check upcoming sessions (we hand-pick them just for you!) and offer to join with your instrument of choice.
  </p>
  <p>
    You can also <a href="/sessions/create">create your own</a>.
  </p>
  <article class="showcase">
    <h3 class="header-info">Session name</h3>
    <p class="session-info">
      1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </article>
  <article class="showcase">
    <h3 class="header-info">Session name 2</h3>
    <p class="session-info">
      2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </article>
  <article class="showcase">
    <h3 class="header-info">Session name 3</h3>
    <p class="session-info">
      3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </article>
</main>