<header>
  <section class="container auth">
    <h1>Sign Up</h1>

    <form method="POST" action="/auth/signup">

      <div class="field">
        <label>Username</label>
        <input type="text" name="username" required value="{{username}}"/>
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" name="password" required minlength="8" />
      </div>

      {{#if messages.length}}
          {{#each messages}}
            <p class="validation">* {{this}}</p>
          {{/each}}
      {{/if}}

      <div class="field">
        <p>Already a member? <a href="/auth/login">Login</a>.</p>
      </div>

      <div class="field submit">
        <button class="button" type="submit">Sign me up!</button>
      </div>
    </form>
  </section>
</header>