<header>
  <section class="container signup">
    <h1>Sign Up</h1>

    <form id="#sign-up-form" method="POST" action="/signup">

      <div class="field">
        <label>Username</label>
        <input type="text" name="username" required value="{{username}}"/>
      </div>

      {{#if messages.length}}
          {{#each messages}}
            <p class="validation">* {{this}}</p>
          {{/each}}
      {{/if}}

      <div class="field">
        <label>Password</label>
        <input type="password" name="password" minlength="8" required />
      </div>

      <div class="field">
        <p>Already a member? <a href="/login">Login</a>.</p>
      </div>

      <div class="field submit">
        <button class="button" type="submit">Sign Up</button>
      </div>
    </form>
  </section>
</header>