<section id="creation" class="container">
  <h1>Create a new session</h1>

  <form method="POST" action="/sessions">

    {{#if messages.length}}
      {{#each messages}}
        <p class="validation">
          {{this}}
        </p>
      {{/each}}
    {{/if}}

    <div class="field">
      <label>Session Name</label>
      <input type="text" name="name" class="boxy" required />
    </div>

    <div class="field">
      <label>When will it take place?</label>
      <input type="datetime-local" name="startTime" class="boxy" required max="2050-01-01T00:00" />
    </div>

    <div class="field">
      <label>Location</label>
      <input type="text" name="location" class="boxy" required />
    </div>

    <div class="field">
      <label>Some info about the session</label>
      <input type="text" name="sessionInfo" class="boxy" required />
    </div>

    <fieldset class="roles">
      <h3>Instruments needed</h3>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="guitar" id="guitar" />
        <label for="guitar">Guitar</label>
      </div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="drums" id="drums" />
        <label for="drums">Drums</label>
      </div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="bass" id="bass" />
        <label for="bass">Bass</label></div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="keyboard" id="keyboard" />
        <label for="keyboard">Keyboard</label></div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="trumpet" id="trumpet" />
        <label for="trumpet">Trumpet</label></div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="saxophone" id="saxophone" />
        <label for="saxophone">Saxophone</label></div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="strings" id="strings" />
        <label for="strings">Strings</label></div>
      <div class="inline-field">
        <input class="instrument" type="checkbox" name="roles" value="vocals" id="vocals" />
        <label for="vocals">Vocals</label></div>
    </fieldset>

    <div class="field">
      <button class="button" type="submit">Save</button>
    </div>

    <div class="cancel">
      <p>Or <a href="/sessions">cancel and go back</a>.</p>
    </div>

    <!-- 
    When form is created it should change to update option 
    <div class="field submit">
    <button type="submit">Save</button>
    </div>
    -->
  </form>
</section>